* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

html {
    scroll-behavior: smooth;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2vw;
    height: 5vw;
    width: 100vw;
    background-color: red;
    position: fixed;
    background: transparent;
    color: red;
}

#logo {

    font-weight: bold;
    /* border: 1px solid black; */
    background: rgba(255, 0, 0, 0.511);
    padding: .5vw 3vw;
    color: black;
    border-radius: 30px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    gap: 2vw;
    list-style: none;
}

ul li a {

    text-decoration: none;
    color: red;
}

.container1 {
    overflow: hidden;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;

}

.left1 {

    height: 100vh;
    width: 60vw;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;

}

.right1 {
    height: 100vh;
    width: 40vw;
    background: #fff;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.right1 img {
    height: 40vw;
}

.left1 .heading {
    font-family: "Dancing Script", cursive;
    font-size: 5vw;
    color: red;
}

.left1 .subhead {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
}


.searchbar input {
    padding: 1vw 5vw;
    border: 1px solid black;
    border-radius: 256px;


    font-size: 1.5vw;
}

.searchbar input::placeholder {

    color: red;
}

/* ADDING RESPONSIVENESS TO THE EXPLORE SECTION  */
@media (max-width: 750px) {
    .container1 {
        flex-direction: column;
        gap: none;
        align-items: center;
        justify-content: center;

    }

    .left1 {
        width: 100vw;
        height: 40vh;
    }

    .right1 {
        width: 100vw;
        height: 60vh;
        justify-content: center;
        align-items: center;
    }

    .right1 img {
        height: 75vw;
        padding-left: 15vw;

    }

    .left1 .heading {
        font-size: 5vw;
    }

    .left1 .subhead {
        font-size: 3vw;
    }

    .searchbar input {
        padding: 1vw 5vw;
        border: 1px solid black;
        border-radius: 256px;


        font-size: 1.5vw;
    }
}

/* EXPLORE SECTION END HERE */

.container2 {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgba(241, 233, 233, 0.849);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left2 {
    height: 60vh;
    width: 15vw;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.left2 ul {
    display: flex;
    flex-direction: column;
}

.left2 ul li {
    border: 2px solid black;
    border-radius: 20px;
    padding: 0.5vw 3vw;
    transition: 0.5ms ease-in-out;
}

.left2 ul li:hover {
    background: red;

}

.left2 ul li a {
    color: black;
    font-size: 1.5vw;
    transition: 0.5ms ease-in-out;
}

.left2 ul li a:hover {
    color: #fff;
}

.right2 {


    height: 77vh;
    width: 80vw;
    background: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;

}

.right2 .box {
    font-size: vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5vw;


}

.right2 .box img {
    height: 15vw;
}

@media (max-width: 750px) {
    .right2 {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 500px) {
    .container2 {
        flex-direction: column;

    }

    .left2 {
        height: 5vh;
    }

    .left2 ul {
        flex-direction: row;
    }

    .left2 ul li {
        background: rgba(236, 186, 186, 0.418);
       
        border-radius: 10px;

    }

    .left2 ul li a {
        font-weight:bolder;        
        color: black;
        font-size: 1vw;
        padding: 0.6vw 1vw 1vw 1vw;
    }

    .left2 {
        width: 100vw;
    }

    .right2 .des h1 {
        font-size: 3vw;
    }

}

.container3 {
    background-color: rgba(241, 233, 233, 0.849);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cnt3 {
    overflow: scroll;
    gap: 1vw;
    display: flex;
    flex-direction: column;
    padding-top: 1vw;
    background: #ffffff;
    height: 80vh;
    width: 95vw;
}

.hd1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}

.cnt3 .hd1 h1 {
    font-size: 4vw;
}

.books {
    height: 78vh;
    display: grid;
    flex-wrap: wrap-reverse;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);

}

.books .box {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.books .image {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.books .bkcnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bkcnt h1 {
    font-size: 2vw;
}

.bookdescription {
    font-size: 1vw;
}

#buy {
    background-color: red;
    color: white;
    padding: 0.5vw 2vw;
    border-radius: 20px;
    cursor: pointer;

}

#buy:hover {
    color: black;
    background-color: #ffffff;
}

.image img {
    height: 15vw;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 99vw;
    background: black;
    color: white;
}
#shd img{
    filter: drop-shadow(1px 1px 20px );
}

/* adding responsiveness to the rest section */
@media (max-width: 750px) {
    .books {
        grid-template-columns: repeat(1, 1fr);
    }

    .bkcnt h1 {
        font-size: 3vw;
    }

    .bookdescription {
        font-size: 2vw;
    }

}
@media (max-width: 273px) {
    .left2 ul li a {
        color: #ffffff;
        font-size: 1vw;
        padding: 0vw 1vw;
    }
    .left2 ul li{
        border: none;

    }

}